@import '../../../imports.scss';

:host {
    .search {
        float: right;
        margin-top: -36px;

        @include collapse {
            float: none;
            margin-top: 10px;
        }

        .searchPrompt {
            margin-top: 10px;
            font-size: 14px;
        }

        .searchButton {
            display: inline-block;
            @include buttonStyle;
        }
    }

    ul {
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;

        @include collapse {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        li {
            position: relative;
            -ms-flex-preferred-size: 332px;
            flex-basis: 332px;
            margin-right: 15px;
            margin-bottom: 15px;
            background-color: $gray6;
            opacity: 0; //pre transition
            -webkit-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
            padding: 20px 15px 30px;
            @include subtleBorder;
            @include subtleBoxShadow;
            cursor: pointer;
            min-height: 220px;

            background-size: contain;
            background-repeat: no-repeat;
            background-position: top right;

            @include collapse {
                margin-right: 5px;
                margin-left: 5px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
                transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
                transition: transform 0.5s ease, background-color 0.5s ease;
                transition: transform 0.5s ease, background-color 0.5s ease, -webkit-transform 0.5s ease;
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
                background-color: rgba(0, 0, 0, 0);
            }

            .c-bgOverlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: radial-gradient(circle, transparent 0%, #e4e2e2 68%, #e4e2e2 100%);
                background-position: 80px -10px;
                background-size: 125%;
                z-index: -1;
            }

            .c-row1 {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                position: relative;
                height: 65px;

                .c-row1-col2 {
                    -ms-flex-preferred-size: 75%;
                    flex-basis: 75%;

                    .c-name {
                        margin-bottom: 5px;
                        color: $gray0;
                        font-size: 120%;
                    }

                    .c-subtitle {
                        color: $gray3;
                        font-size: 95%;
                    }
                }
            }

            .c-row2 {
                width: 45%;

                .c-description {
                    margin-top: 15px;
                    font-size: 85%;
                    color: $gray0;
                }
            }

            &.active {
                &::before {
                    content: '';
                    position: absolute;
                    -webkit-transform: scale3d(1.04, 1.04, 1);
                    transform: scale3d(1.04, 1.04, 1);
                    -webkit-transition: background-color 0.5s ease, -webkit-transform 0.75s ease;
                    transition: background-color 0.5s ease, -webkit-transform 0.75s ease;
                    transition: transform 0.75s ease, background-color 0.5s ease;
                    transition: transform 0.75s ease, background-color 0.5s ease, -webkit-transform 0.75s ease;
                    background-color: rgba($red0, 0.25);
                }
            }
        }

        @for $i from 0 through 79 {
            $transition: $i * 0.15 + 0.4;

            li.c-#{$i} {
                -webkit-animation: fadeIn #{$transition}s ease forwards;
                animation: fadeIn #{$transition}s ease forwards;
            }
        }
    }
}