<nav>
  <div class="nav-inner">
    <a class="nav-logo" [routerLink]="['/page']">
      <div class="nav-title">
        Mighty Strides
      </div>
      <div class="nav-subtitle">
        A limited webcomic
      </div>
    </a>
    <div class="nav-links">
      <a [routerLink]="['/pages']" routerLinkActive="active">Pages</a>
      <a [routerLink]="['/characters']" routerLinkActive="active">Characters</a>
      <a [routerLink]="['/extras']" routerLinkActive="active">Extras</a>
      <a [routerLink]="['/about']" routerLinkActive="active">About</a>
    </div>

  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="footer-inner">
    &copy; 2019-2020 R.C. Black. All rights reserved.
  </div>
</footer>
<div class="topGrad"></div>