<nav>
  <div class="nav-inner">
    <a class="nav-logo" [routerLink]="['/page']">
      <div class="nav-title">
        Mighty&nbsp;Strides
      </div>
      <div class="nav-subtitle">
        A&nbsp;limited&nbsp;webcomic
      </div>
    </a>
    <div class="nav-links" [ngClass]="{'open': mobileNavOpen }">
      <div class="nav-links-inner">
          <a [routerLink]="['/page/latest']" *ngIf="mobileNavOpen">Latest Page</a>
          <a [routerLink]="['/pages']" routerLinkActive="active">Pages</a>
          <a [routerLink]="['/characters']" routerLinkActive="active">Characters</a>
          <!-- <a [routerLink]="['/extras']" routerLinkActive="active">Extras</a> -->
          <a [routerLink]="['/about']" routerLinkActive="active">About</a>
      </div>
      
    </div>
    <div class="nav-mobile-icon" [ngClass]="{'open': mobileNavOpen }" (click)="mobileNavOpen = !mobileNavOpen">
      <div class="nav-mobile-icon-inner"></div>
    </div>

  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="footer-inner">
    <app-footer></app-footer>
  </div>
</footer>
<!-- <div class="topGrad"></div> -->