/* colors */

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$gray0: rgb(36, 36, 36);
$gray1: rgb(77, 77, 77);
$gray2: rgb(90, 89, 89);
$gray3: rgb(134, 134, 134);
$gray4: rgb(184, 184, 184);
$gray5: rgb(200, 200, 200);
$gray6: rgb(228, 226, 226);
$gray7: rgb(247, 247, 247);

$yellow5: rgb(212, 209, 192);
$yellow4: rgb(178, 174, 155);

$red0: rgb(68, 62, 59);

/* global variables */

$containerWidth: 1140px;

/* mixins */

@mixin monospace {
    font-family: 'Cutive Mono', 'Courier New', Courier, monospace;
}

@mixin subtleBorder {
    border: 1px solid rgba($gray2, 0.25);
}

@mixin boxShadow {
    -webkit-box-shadow: 0 0 8px rgba($gray2, 0.25);
    box-shadow: 0 0 8px rgba($gray2, 0.25);
}

@mixin subtleBoxShadow {
    -webkit-box-shadow: 0 0 2px rgba($gray2, 0.25);
    box-shadow: 0 0 2px rgba($gray2, 0.25);
}

@mixin noUserSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin buttonStyle {
    @include monospace;
    @include subtleBorder;
    @include subtleBoxShadow;
    background-color: $gray6;
    color: $gray2;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;

    &:not(:last-child) {
        margin-right: 15px;
    }

    &:hover {
        opacity: 0.8;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    }
}

/* animation keyframes */

@mixin flexCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin collapse {
    @media only screen and (max-width: 799.98px) {
        @content;
    }
}

@mixin notCollapse {
    @media only screen and (min-width: 800px) {
        @content;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes slideUp {
    from {
        -webkit-transform: translateY(100px);
        transform: translateY(100px)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideUp {
    from {
        -webkit-transform: translateY(100px);
        transform: translateY(100px)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeOutIn {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutIn {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes rotate360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate720 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@keyframes rotate720 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@-webkit-keyframes rotateNegative360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes rotateNegative360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotateNegative720 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}

@keyframes rotateNegative720 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}

@-webkit-keyframes changePageForward {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes changePageForward {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes changePageBackward {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes changePageBackward {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.pageTitle {
    font-size: 28px;
    width: 100%;
    border-bottom: 2px solid $gray2;
    margin: 0;
    padding-bottom: 5px;
}