<h1 class="pageTitle">About</h1>
<div class="about-container">
    <div class="jagged jagged-1"></div>
    <div class="jagged jagged-2"></div>
    <div class="jagged jagged-3"></div>
    <div class="jagged jagged-4"></div>
    <div class="banner">
            <img src="./assets/images/about/newspaper_banner.png" alt="A clip from the fictional New York Press-Observer, dated February 16, 1960" />
    </div>
    <div class="content">
            <h3>With new LP, Jinx Colton Quartet hits mighty stride</h3>

            <p>Hi, I'm K.C., and this is my first webcomic!</p>
        
            <p>I've always been interested in storytelling, especially of a visual nature. Those who know me well can attest to me talking about the plotlines and themes of TV shows and movies quite frequently. It also happens that I have a love for all sorts of music, and jazz has always ranked highly in my list of go-to genres. My aim is to explore jazz by combining historical inspiration from some of jazz's pioneers with allegories touching upon modern-day issues, through the admittedly-warped lens of people who just so happen to be cats, dogs and other familiar creatures who are not human.</p>
            
            <p>The idea for <em>Mighty Strides</em> started out as an outline for a short story intended for a writing workshop application. After mulling it around in my head, I decided it'd make a great trial run project to get in the groove of making comics, a hobby I've aspired to do for some time.</p>
            
            <p>I'm so glad you decided to join me on this journey, and I can't wait to see where it leads.</p>
    </div>
    

    
</div>
