@import '../../../imports.scss';

:host {
    
    .about-container {
        max-width: 450px;
        // should probably left justify and add some more goodies to the page eventually
        margin: 15px auto 15px;
        padding-top: 15px;
        background: $gray7;
        padding: 30px;


        @media only screen and (max-width: 450px) {
            max-width: 250px;
        }

        .banner {
            border-bottom: 2px solid $gray2;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 0;
                border-bottom: 1px solid $gray2;
            }

            img {
                width: 350px;
                max-width: 100%;
                margin-left: -5px;
            }
        }

        .content {
            text-align: justify;
            -webkit-column-count: 2;
            column-count: 2;
            margin-top: 15px;

            @media only screen and (max-width: 450px) {
                -webkit-column-count: 1;
                        column-count: 1;
            }

            h3 {
                margin-top: 0;
            }

            p {
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
            }
        }

    }
}